.container{
    display: flex;
    border: 1px solid #000;
    width: 320px;
    height: 500px;
    flex-direction: column;
    margin: auto;
}

.caixa {
    height: 40px;
}

#button {
    height: 40 px;
    background-color: #2F4F4F;
    color: #fff;
}